body
  background white
  color black
  font-family 'Fira Sans', sans-serif
  font-weight: 400

.grid
  display grid
  height 100vh
  grid-template-columns 50% 50%
  @media (max-width: 600px)
    grid-template-columns 100%

#left-half
  p
    font-size 18px
    color black
  @media (max-width: 600px)
    height 25vh
    z-index 2

#right-half
  transition 0.4s ease-in-out
  @media (max-width: 600px)
    height 50vh

.info, .projects
  padding 5%
  letter-spacing 0.4
  li
    margin-top 4px

.info
  position sticky
  left 0
  top 0

.projects
  h1
    color rgba(0, 0, 0, 0.8)
    font-size 38px
    line-height 54px
  h2
    color rgba(0, 0, 0, 0.4)
    font-size 22px
    line-height 28px

  .headline
    text-align center
    font-size 38px
    line-height 64px
    font-weight 300
    margin-bottom 40px
  p
    color rgba(0, 0, 0, 0.7)
    margin 20px 0
    font-size 18px

  img.cover
    width 100%
    height auto
    border-radius 4px

/* panel styles */
.panel {
  /* min height incase content is higher than window height */
  min-height 50vh
  display: flex;
}

/* colours */
.color-violet {
  background-color: #7A4EAB;
}
.color-indigo {
  background-color: #4332CF;
}
.color-blue {
  background-color: #2F8FED;
}
.color-green {
  background-color: #4DCF42;
}
.color-yellow {
  background-color: #FAEB33;
}
.color-orange {
  background-color: #F19031;
}
.color-red {
  background-color: #F2293A;
}
.color-black {
  background-color: #000;
}

.gradient {
  background: linear-gradient(90deg, #e7040f, #ff725c, #ffb700, #d5008f, #ff80cc, #137752, #9eebcf, #00449e, #96ccff);
  background-clip: border-box;
  background-size: auto auto;
  background-size: 1000% 1000%;
  color: #000;
  background-clip: text;
  text-fill-color: transparent;
-webkit-background-clip: text;
  background-clip: text;
-webkit-text-fill-color: transparent;

  animation: Shine 10s ease infinite;
  animation-name: Shine;
  animation-duration: 10s;
  animation-timing-function: ease;
  animation-delay: 0s;
  animation-direction: normal;
  animation-fill-mode: none;
  animation-iteration-count: infinite;
  animation-play-state: running;


-webkit-animation: Shine 10s ease infinite;
  animation-name: Shine;
  animation-duration: 10s;
  animation-timing-function: ease;
  animation-delay: 0s;
  animation-direction: normal;
  animation-fill-mode: none;
  animation-iteration-count: infinite;
  animation-play-state: running;

-moz-animation: Shine 10s ease infinite;
  animation-name: Shine;
  animation-duration: 10s;
  animation-timing-function: ease;
  animation-delay: 0s;
  animation-direction: normal;
  animation-fill-mode: none;
  animation-iteration-count: infinite;
  animation-play-state: running;
  }

@keyframes Shine {
  0%    {background-position:0% 50%}
  50%   {background-position:100% 50%}
  100%  {background-position:0% 50%}
  }

@-webkit-keyframes Shine {
  0%    {background-position:0% 50%}
  50%   {background-position:100% 50%}
  100%  {background-position:0% 50%}
  }

@-moz-keyframes Shine {
  0%    {background-position:0% 50%}
  50%   {background-position:100% 50%}
  100%  {background-position:0% 50%}
  }
