body
  background black

.grid
  display grid
  height 100vh
  grid-template-columns 50% 50%
  @media (max-width: 600px)
    grid-template-columns 100%

#left-half
  @media (max-width: 600px)
    height 25vh
    z-index 2

#right-half
  display grid
  top 0
  height 100vh
  position sticky
  box-sizing border-box
  transition background-color 0.4s ease
  @media (max-width: 600px)
    height 75vh

.info, .projects
  letter-spacing 0.4
  a
    color white
    text-decoration underline
    text-decoration-color pink
    &:hover
      color pink
  li
    margin-top 4px
.info
  padding 5%
  p
    color white
    font-weight 400

.main-carousel
  min-height 100%

.carousel-cell:nth-child(1) {
  background-color: #FFC312;
}
.carousel-cell:nth-child(2) {
  background-color: #F79F1F;
}
.carousel-cell:nth-child(3) {
  background-color: #EE5A24;
}
.carousel-cell:nth-child(4) {
  background-color: #EA2027;
}
.carousel-cell:nth-child(5) {
  background-color: #C4E538;
}
.carousel-cell:nth-child(6) {
  background-color: #A3CB38;
}
.carousel-cell:nth-child(7) {
  background-color: #009432;
}
.carousel-cell:nth-child(8) {
  background-color: #006266;
}
.carousel-cell:nth-child(9) {
  background-color: #12CBC4;
}
