doctype html(lang='en')

html
	include head.pug
	body
		main
			.grid
				#left-half
					include about.pug
				#right-half
					include projects.pug
					
		script(src="//code.jquery.com/jquery-3.1.0.min.js", integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=", crossorigin="anonymous")
		script(src="//code.jquery.com/ui/1.12.1/jquery-ui.js", integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30=", crossorigin="anonymous")
		script.
			$(window).scroll(function() {
  
			  // selectors
			  var $window = $(window),
			      $body = $('#right-half'),
			      $panel = $('.panel');
			  
			  // Change 33% earlier than scroll position so colour is there when you arrive.
			  var scroll = $window.scrollTop() + ($window.height() / 2);
			 
			  $panel.each(function () {
			    var $this = $(this);
			    
			    // if position is within range of this panel.
			    // So position of (position of top of div <= scroll position) && (position of bottom of div > scroll position).
			    // Remember we set the scroll to 33% earlier in scroll var.
			    if ($this.position().top <= scroll && $this.position().top + $this.height() > scroll) {
			          
			      // Remove all classes on body with color-
			      $body.removeClass(function (index, css) {
			        return (css.match (/(^|\s)color-\S+/g) || []).join(' ');
			      });
			       
			      // Add class of currently active div
			      $body.addClass('color-' + $(this).data('color'));
			    }
			  });    
			  
			}).scroll();