.projects
  .panel(data-color="white")
  .headline This is a really nice headline, spanning 2 lines, being really subtle
  
  .panel(data-color="red")
  h2 A smaller subheading
  h1 This is the big heading
  p My name is Kilian Zelfo and I'm a detail driven graphic designer from Germany with a passion for brands in the digital world. I'm always interested in new technologies (like the next big chat bot/VR gadget/connected lawnmower.) My focus is to create great experiences with a focus on usability and design that are fun and delightful to use.
  img.cover(src="assets/images/cover_911.jpg")
  
  .panel(data-color="green")
  h1.headline This is really nice!
  h2 A smaller subheading
  h1 This is the big heading
  p My name is Kilian Zelfo and I'm a detail driven graphic designer from Germany with a passion for brands in the digital world. I'm always interested in new technologies (like the next big chat bot/VR gadget/connected lawnmower.) My focus is to create great experiences with a focus on usability and design that are fun and delightful to use.
  img.cover(src="assets/images/cover_margin.jpg")
  
  .panel(data-color="indigo")
  h2 A smaller subheading
  h1 This is the big heading
  p My name is Kilian Zelfo and I'm a detail driven graphic designer from Germany with a passion for brands in the digital world. I'm always interested in new technologies (like the next big chat bot/VR gadget/connected lawnmower.) My focus is to create great experiences with a focus on usability and design that are fun and delightful to use.
  img.cover(src="assets/images/cover_opinion.jpg")
  
  .panel(data-color="orange")
  h1.headline This is really nice!
  h2 A smaller subheading
  h1 This is the big heading
  p My name is Kilian Zelfo and I'm a detail driven graphic designer from Germany with a passion for brands in the digital world. I'm always interested in new technologies (like the next big chat bot/VR gadget/connected lawnmower.) My focus is to create great experiences with a focus on usability and design that are fun and delightful to use.
  img.cover(src="assets/images/cover_porschemobile.jpg")
  
  .panel(data-color="black")
  h2 A smaller subheading
  h1 This is the big heading
  p My name is Kilian Zelfo and I'm a detail driven graphic designer from Germany with a passion for brands in the digital world. I'm always interested in new technologies (like the next big chat bot/VR gadget/connected lawnmower.) My focus is to create great experiences with a focus on usability and design that are fun and delightful to use.
  img.cover(src="assets/images/cover_tlf.jpg")
  
  .panel(data-color="orange")
  h1.headline This is really nice!
  h2 A smaller subheading
  h1 This is the big heading
  p My name is Kilian Zelfo and I'm a detail driven graphic designer from Germany with a passion for brands in the digital world. I'm always interested in new technologies (like the next big chat bot/VR gadget/connected lawnmower.) My focus is to create great experiences with a focus on usability and design that are fun and delightful to use.
  
  .panel(data-color="red")
  h1.headline This is really nice!
  h2 A smaller subheading
  h1 This is the big heading
  p My name is Kilian Zelfo and I'm a detail driven graphic designer from Germany with a passion for brands in the digital world. I'm always interested in new technologies (like the next big chat bot/VR gadget/connected lawnmower.) My focus is to create great experiences with a focus on usability and design that are fun and delightful to use.
  
  
