.projects
  .panel(data-color="white")#p1
  p ksjbgskhjbsfksdhb
  img(src="assets/images/Phone_Transparent_1.png")

  .panel(data-color="red")#p2
  img(src="assets/images/Phone_Transparent_2.png")
  
  .panel(data-color="green")#p3
  img(src="assets/images/Phone_Transparent_3.png")
  
  .panel(data-color="indigo")#p4
  img(src="assets/images/Phone_Transparent_1.png")
  
  .panel(data-color="orange")#p5
  img(src="assets/images/Phone_Transparent_2.png")
  
  .panel(data-color="black")#p6
  img(src="assets/images/Phone_Transparent_3.png")
  
  .panel(data-color="orange")#p7
  img(src="assets/images/Phone_Transparent_1.png")
  
  .panel(data-color="red")#p8
  img(src="assets/images/Phone_Transparent_2.png")