.main-carousel
  .carousel-cell
    img(src="/assets/images/1.jpg" width="auto" height="100%")
  .carousel-cell
    img(src="/assets/images/2.jpg" width="auto" height="100%")
  .carousel-cell
    img(src="/assets/images/3.jpg" width="auto" height="100%")
  .carousel-cell
    img(src="/assets/images/1.jpg" width="auto" height="100%")
  .carousel-cell
    img(src="/assets/images/2.jpg" width="auto" height="100%")
  .carousel-cell
    img(src="/assets/images/3.jpg" width="auto" height="100%")
  .carousel-cell
    img(src="/assets/images/1.jpg" width="auto" height="100%")
  .carousel-cell
    img(src="/assets/images/2.jpg" width="auto" height="100%")
  .carousel-cell
    img(src="/assets/images/3.jpg" width="auto" height="100%")
