.main-carousel
  .carousel-cell
    
  .carousel-cell
    
  .carousel-cell
    
  .carousel-cell
    
  .carousel-cell
    
  .carousel-cell
    
  .carousel-cell
    
  .carousel-cell
    
  .carousel-cell
    
